<!-- Navigation -->

<ul id="dropdown1" class="dropdown-content">
  <li><a href="/pt/products/food/">Culinária</a></li>
</ul>

<nav class="light-blue front-pos">
  <div class="nav-wrapper">
    <div class="container">
    <a href="/pt/" class="brand-logo font-indie">ZorFolio</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/pt/"><i class="material-icons left">home</i>Home</a></li>
      <li><a href="/pt/history/"><i class="material-icons left">list</i>História</a></li>
      <li><a href="/pt/events/"><i class="material-icons left">star</i>Eventos</a></li>
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Outros<i class="material-icons left">arrow_drop_down</i></a></li>
      <li><a href="/pt/about/"><i class="material-icons left">info</i>Acerca</a></li>
    </ul>
    </div>

  </div>
</nav>

<ul class="side-nav" id="mobile-demo">
  <li><a href="/pt/"><i class="material-icons">home</i>Home</a></li>
  <li><a href="/pt/history/"><i class="material-icons">list</i>História</a></li>
  <li><a href="/pt/events/"><i class="material-icons">star</i>Eventos</a></li>
  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li>
        <a class="collapsible-header">Outros<i class="material-icons">arrow_drop_down</i></a>
        <div class="collapsible-body">
          <ul>
            <li><a href="/pt/products/food/"><i class="material-icons">store</i>Culinária</a></li>
          </ul>
      </li>
    </ul>
  </li>
  <li><a href="/pt/about/"><i class="material-icons">info</i>Acerca</a></li>
</ul>

<!-- /Navigation -->
