{% extends 'base.html' %}
{% load static %}

{% block title %} Azores Journey {% endblock %}

{% block header %}
  {% include 'lang/pt/header.html' %}
{% endblock %}

{% block content %}

<div class="section light-blue">
  <div class="container">
    <div class="row">
      <div class="col s12 m12 l12">
        <center>
          <h3 class="font-bree white-text">Tudo sobre os Açores num só lugar</h3>
        </center>
      </div>
    </div>
    <div class="row light-blue lighten-1 white-text border-radius">
      <form action="/pt/search/article/" method="get">
        <div class="input-field col s12 m12 l12">
        </div>
        <div class="input-field col s12 m6 l5">
          <i class="material-icons prefix">stars</i>
            <select name="cat">
              {% for categorie in cat %}
                <option value="{{ categorie.id }}">{{ categorie.categoria }}</option>
              {% endfor %}
            </select>
            <label class="white-text">Quero ver</select>
        </div>
        <div class="input-field col s12 m6 l5">
          <i class="material-icons prefix">location_on</i>
            <select name="isl">
              {% for island in isl %}
                <option value="{{ island.id }}">{{ island.ilha }}</option>
              {% endfor %}
            </select>
          <label class="white-text">Na ilha</label>
        </div>
        <div class="input-field col s12 m12 l2">
          <center>
            <button type="submit" class="btn-floating btn-large waves-effect waves-light light-blue">
              <i class="material-icons">search</i>
            </button>
          </center>
        </div>
        <div class="input-field col s12 m12 l12">
        </div>
      </form>
    </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="section">
    <div class="row white">
      <div class="col s12 m12 l12">
          <h4><i class="material-icons">today</i> Eventos</h4>
          <div class="divider">
          </div>
      </div>
      {% for event in events %}
        <div class="col s12 m6 l6">
          <div class="card card-height">
              <div class="card-image">
                <img height="175px" src="{{ event.imagem.url }}">
                <a class="btn-floating halfway-fab waves-effect waves-light light-blue"><i class="material-icons">add</i></a>
              </div>
              <div class="card-content">
                <p class="flow-text"><b>{{ event.titulo }}</b></p>
                <div class="divider">
                </div>
                <div class="row">
                  <div class="col s6 m6 l6">
                    <center>
                      <h6><b>Data</b></h6>
                      <p>De {{ event.data_comeco }} a {{ event.data_fim }}</p>
                    </center>
                  </div>
                  <div class="col s6 m6 l6">
                    <center>
                      <h6><b>Ilha</b></h6>
                      <p>{{ event.ilha }}</p>
                    </center>
                  </div>
                </div>
              </div>
            </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="section">
    <div class="row white">
      <div class="col s12 m12 l12">
        <h4><i class="material-icons">star</i> Ultimas Adicionadas</h4>
        <div class="divider">
        </div>
      </div>
      {% for article in articles %}
        <div class="col s12 m6 l6">
          <div class="card card-height">
              <div class="card-image">
                <img height="175px" src="{{ article.imagem.url }}">
                <a href="/pt/article/{{ article.id }}" class="btn-floating halfway-fab waves-effect waves-light light-blue"><i class="material-icons">add</i></a>
              </div>
              <div class="card-content">
                <p class="flow-text"><b>{{ article.titulo }}</b></p>
                <div class="divider">
                </div>
                <div class="row">
                  <div class="col s6 m6 l6">
                    <center>
                      <h6><b>Categoria</b></h6>
                      <p>{{ article.subcategoria }}</p>
                    </center>
                  </div>
                  <div class="col s6 m6 l6">
                    <center>
                      <h6><b>Ilha</b></h6>
                      <p>{{ article.ilha }}</p>
                    </center>
                  </div>
                </div>
              </div>
            </div>
        </div>
      {% endfor %}
    </div>
  </div>

</div>

{% endblock %}
